@import "tailwindcss";
@import "./themes/dark.css";
@import "./themes/light.css";

@theme {
  --color-primary: #fff3b0;
  --color-secondary: #fffbe3;
  /* --color-primary: #9381ff;
  --color-secondary: #b8b8ff; */
  --color-buttons: #fbbc05;
  --color-typography: #000;
}
